body,html{
    overflow-y: hidden;
    overflow-x: hidden;
    /* background-color: #F4F5F9; */
}
/*
* Sidebar
*/

.navbar{
    z-index: 1;
}

@media (min-width:1745px) {

    #nav-sidebar{
        width: 24.5% !important;
    }

}

#nav-sidebar {
 position: fixed;
 width: 430px;
 height: 100%;
 /* Should match width of main margin-left*/
 top: 51px;
 bottom: 0;
 left: 0;
 /* z-index: -1; */
 padding: 1rem 0;
 overflow-x: hidden;
 overflow-y: hidden;
 /* Scrollable contents if viewport is shorter than content. */
 border-right: 1px solid #eee;
 box-shadow: 2px 0 5px 0 rgba(0, 0, 0, .16), 2px 0 10px 0 rgba(0, 0, 0, .12);
 white-space: nowrap;
 transition: all 0.5s ease;
 -webkit-transition: all 0.5s ease;
 -moz-transition: all 0.5s ease;
 -o-transition: all 0.5s ease;
}

.sidebar-expand {
 display: inline-flex;
 margin: 0 0 1.5rem 1rem;
}

.sidebar-expand button {
 font-size: 2.5rem;
 line-height: 1.1;
 color: #000;
 background: 0 0;
 border-width: 0;
 border-color: rgba(255, 255, 255, .1);
 cursor: pointer;
 transition: all 0.5s ease;
 -webkit-transition: all 0.5s ease;
 -moz-transition: all 0.5s ease;
 -o-transition: all 0.5s ease;
}

.sidebar-header {
 padding: 0 1rem;
 
}
.sidebar-content{
 padding: 0 1rem;
}
.nav-pills .nav-item,a{
 display: flex;
 justify-content: center;
 color: #06163A;
 padding-bottom:10px ;
 /* font-weight: 600; */
}
i{
 margin-top: 3px;
 margin-right: 10px;
}

@media (max-width:767px) {
 #nav-topbar .brand-container,
 #nav-sidebar {
        display: none;
		z-index: 1;
		background-color: #fff;
 }
 #nav-topbar .brand-container.active,
 #nav-sidebar.active {
     width: 225px;
     min-width: 50px;
     max-width: 225px;
 }
 #nav-sidebar.active .sidebar-content {
     display: block !important;
 }
 main {
     margin-left: 50px;
 }
 .card-body{
     position: relative;
     left: 200px;
     bottom: 110px;
     
 }
}


/*
* Transforms
*/

.rotate-90cw {
 transform: rotate(90deg);
 -webkit-transform: rotate(90deg);
 -moz-transform: rotate(90deg);
 -ms-transform: rotate(90deg);
}

.rotate-180cw {
 transform: rotate(180deg);
 -webkit-transform: rotate(180deg);
 -moz-transform: rotate(180deg);
 -ms-transform: rotate(180deg);
}

.rotate-90ccw {
 transform: rotate(-90deg);
 -webkit-transform: rotate(-90deg);
 -moz-transform: rotate(-90deg);
 -ms-transform: rotate(-90deg);
}

.rotate-180ccw {
 transform: rotate(-180deg);
 -webkit-transform: rotate(-180deg);
 -moz-transform: rotate(-180deg);
 -ms-transform: rotate(-180deg);
}

.flip-y {
 transform: perspective(100px) rotateY(180deg);
 -webkit-transform: perspective(100px) rotateY(180deg);
 -moz-transform: perspective(100px) rotateY(180deg);
 -ms-transform: perspective(100px) rotateY(180deg);
}

.flip-x {
 transform: perspective(100px) rotateX(180deg);
 -webkit-transform: perspective(100px) rotateX(180deg);
 -moz-transform: perspective(100px) rotateX(180deg);
 -ms-transform: perspective(100px) rotateX(180deg);
}


.vl {
    border-left: 2px solid #818284;
    height: 40px;
    padding-right: 20px;
  }

  .searchbar{
      width: 400px;
  }

  .sample{
      background-color: white;
  }
  /* .card-title, thead{
      background: #E9EBEF;
  } */

  .card{
      margin-top: 50px;
      margin-left: 50px;
      width: 90%;
      /* max-width: 500px; */
      /* position: relative;
      z-index: -1; */
  }

  .dot {
    height: 15px;
    width: 15px;
    background-color: #09C34B;
    display: inline-block;
  }
  .nav-spacing{
      padding: 10px;
  }